<style type="text/css">
p {
    font-family: "Courier New", Courier;
    text-align: center;
  }
a {
    color: #000000;
    text-decoration: underline;
  }
.obfuscate { 
    unicode-bidi: bidi-override; direction: rtl; 
           }
</style>
